@charset "utf-8";
.revm_titulo {
	font-family: Open Sans;
	font-size: 22px;
	color: #005A9C;
	font-weight: bold;
	letter-spacing: 2px;
	margin-top: 25px;
	margin-bottom: 15px;
	}

.revm_categoria {
	font-family: Open Sans;
	font-size: 22px;
	color: #005A9C;
	margin-top: 15px;
	margin-bottom: 5px;
	}

.revm_categoria2 {
	font-family: Open Sans;
	font-size: 18px;
	color: #005A9C;
	margin-top: 0px;
	margin-bottom: 30px;
}

.revm_subtitulo {
	font-family: Open Sans;
	font-size: 18px;
	color: #005A9C;
	font-weight: bold;
	margin-bottom: 10px;
}

.revm_subtitulo2 {
	font-family: Open Sans;
	font-size: 18px;
	color: #212121;
	font-weight: bold;
	margin-bottom: 10px;
	}

.revm_texto {
	font-family: Open Sans;
	font-size: 16px;
	font-stretch: normal;
	color: #3b3b3b;
	margin-bottom: 5px;
}

.revm_textoLU {
	font-family: Open Sans;
	font-size: 16px;
	font-stretch: normal;
	color: #3b3b3b;
	margin-top: -5px;
	margin-bottom: 5px;
}